.logo {
  font-family: Pacifico, cursive;
  color: crimson;
  font-size: 56px;
}
#navlist {
  font-size: 32px;
  font-weight: 600;
}
.hek {
  padding: 14px;
}
#navst{
  position: sticky;
  top: 0;
  shape-margin: 10px;
}
.logo img{
  height: 150px;
  width: 150px;
}